/* Styling the body element
like body color and margin */
body {
    background-color: #00FA9A;
    margin: 20%;
}

/* Styling the Title and giving
shadow to the title */
#title {
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
    font-family: sans-serif;
    text-decoration: underline;
}

/* Setting width and display
type of image */
img {
    display: inline;
    width: 100%;
}

/* Setting font color and 
font size of the image-caption */
#caption {
    font-size: 17px;
    font-family: sans-serif;
    color: black;
}

/* Styling the content of the page like-
padding, font-size, font color etc. */

div#tribute-data {
    background-color: rgba(46, 139, 87, 0.25);
    box-shadow: 10px 10px 10px #98FB98;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 8px;
    margin-top: 50px;
}

/* Styling the link provided at the end */
h1.title-MAHV {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
    text-decoration: underline;
}

/* Stylingg the link providded at the end */
#tribute-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#myself {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
#myself:hover {
    color: rgb(6, 6, 153);
    transition: 0.3s ease;
}